<div class="clearfix"></div>
    <footer id="footer">

        <div class="wrap">
            
            <div>
                <h5>PAX | DIGITAL MINDS</h5>
                <!--DIRECCION-->
                Avenida de Palmela 19 - 03730 J&aacute;vea (Alicante)<br />
                <!--AVISO LEGAL-->
                <p><a href="#" class="advice">Política de cookies</a>&nbsp; | &nbsp;
                <a href="#" class="advice">Política de privacidad</a>&nbsp; | &nbsp;
                <a href="views/avisolegal.html" class="advice">Aviso Legal</a></p>
                <!--RRSS TODO:-->
                <p><a href="#" class="rrss" onmouseover="fbhoverind()" onmouseout="fbblackind()"><img id="fb" alt="Facebook" src="../images/rrss/facebook.png" /></a> &nbsp;
                <a href="#" class="rrss" onmouseover="ighoverind()" onmouseout="igblackind()"><img id="ig" alt="Instagram" src="../images/rrss/instagram.png" /></a> &nbsp;
                <a href="#" class="rrss" onmouseover="twhoverind()" onmouseout="twblackind()"><img id="tw" alt="twitter" src="../images/rrss/twitter.png" /></a>
                </p>&copy; PAX | DIGITAL MINDS 2022
            </div>

        </div>
    </footer>