<header id="header">
    <div class="wrap">
        <div id="logo">
            <span class="displ"><img src="../images/icon.png" alt="logo" /></span>
            <h1>PAX | DIGITAL MINDS</h1>
        </div>

        <!--MENÚ DE NAVEGACIÓN-->
        <nav id="menu">
            <ul>
                <li><a href="../index.html" class="btn">INICIO</a></li>
                <li><a href="../views/galeria.html" class="btn">PORTFOLIO</a></li>
                <li><a href="../views/presupuesto.html" class="btn">PRESUPUESTO</a></li>
                <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                <li><a href="#" class="btn_in">AREA USUARIOS</a></li>
            </ul>
        </nav>
    </div>
</header>