<!DOCTYPE html>

<html lang="es">
  <head>
    <!--IDIOMA DE LOS CARACTERES-->
    <meta charset="utf-8" />
    <!--TÍTULO-->
    <title>PAX | DIGITAL MINDS</title>
    <!--ICONO-->
    <link rel="icon" type="favicon/x-icon" href="../images/icon.png" />
    <!--LLAMADA A LAS HOJAS DE ESTILO-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/General.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../stylesheets/presupuesto.css"
    />

    <!--LLAMADA A LOS SCRIPTS-->
    <script src="../scripts/RRSS.js"></script>
    <script src="../scripts/presupuesto.js"></script>

    <!--METADATOS-->
    <meta name="author" content="Maximiliano Serratosa" />
    <meta name="robots" content="follow" />
    <meta
      name="description"
      content="PAX | DIGITAL MINDS es tu solucion para tu aplicacion web"
    />
    <meta
      name="keywords"
      content="html, css, javascript, php, diseño web, ajax, mysql"
    />
    <meta name="revisit-after" content="7 days" />
    <meta name="category" content="Web app" />
  </head>
  <body onload="calculoTarifa()">
    <!--INICIO DE LA CABECERA-->
    <header id="header">
      <div class="wrap">
        <div id="logo">
          <span class="displ"><img src="../images/icon.png" alt="logo" /></span>
          <h1>PAX | DIGITAL MINDS</h1>
        </div>

        <!--MENÚ DE NAVEGACIÓN-->
        <nav id="menu">
          <ul>
            <li><a href="../index.html" class="btn">INICIO</a></li>
            <li><a href="portfolio.php" class="btn">PORTFOLIO</a></li>
            <li><a href="#" class="btn_in">PRESUPUESTO</a></li>
            <li><a href="contacto.html" class="btn">CONTACTO</a></li>
            <li>
              <a href="../users/areausuarios.php" class="users"
                >AREA USUARIOS</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!--INICIO DE SECCION-->
    <section class="wrap wrap-content">
      <h2>Presupuesto</h2>
      <section class="info">
        <!--INICIO DEL BANNER-->
        <div id="banner"><h2>PRESUPUESTO</h2></div>
      </section>

      <!--INICIO DEL FORMULARIO-->
      <div id="formulario">
        <!--DATOS PERSONALES-->
        <section>
          <div class="title">
            <h2>Datos de contacto:</h2>
          </div>
          <div class="formSect">
            <form id="personalInfo">
              <table>
                <tr>
                  <td id="nombre">Nombre:</td>
                  <td>
                    <input
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Inserte su nombre"
                      maxlength="15"
                      required
                    />
                    *
                  </td>
                </tr>
                <tr>
                  <td id="apellidos">Apellidos:</td>
                  <td>
                    <input
                      type="text"
                      id="surname"
                      placeholder="Inserte sus apellidos"
                      maxlength="40"
                      required
                    />
                    *
                  </td>
                </tr>
                <tr>
                  <td id="telf">Tel&eacute;fono de contacto: &nbsp;</td>
                  <td>
                    <input type="tel" id="phone" maxlength="9" required /> *
                  </td>
                </tr>
                <tr>
                  <td id="correo">Correo electr&oacute;nico:</td>
                  <td><input type="email" id="email" required /> *</td>
                </tr>
              </table>
            </form>
          </div>
        </section>

        <!--PRESUPUESTO-->
        <section>
          <div class="title">
            <h2>Presupuesto:</h2>
          </div>
          <form id="budget">
            <table>
              <tr>
                <td id="product">Producto:</td>
                <td>
                  <select
                    name="producto"
                    id="producto"
                    onchange="calculoTarifa()"
                  >
                    <option value="" selected disabled>
                      Elija una opci&oacute;n
                    </option>
                    <option value="1">Proyecto HTML</option>
                    <option value="2">Proyecto CSS</option>
                    <option value="3">Aplicación Web</option>
                    <option value="4">Base de datos</option>
                  </select>
                  *
                </td>
              </tr>
              <tr>
                <td id="plazo">Plazo:</td>
                <td>
                  <input
                    type="number"
                    id="term"
                    value="0"
                    min="0"
                    max="8"
                    onchange="calculoTarifa()"
                  />&nbsp;Semanas *
                </td>
              </tr>
              <tr>
                <td>Extras:</td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">
                  <input
                    type="checkbox"
                    id="extra1"
                    onchange="calculoTarifa()"
                  />&nbsp;CSS din&aacute;mico&nbsp;&nbsp;
                  <input
                    type="checkbox"
                    id="extra2"
                    onchange="calculoTarifa()"
                  />&nbsp;Estudio UI/UX&nbsp;&nbsp;&nbsp;
                  <span id="dataBase"
                    ><input
                      type="checkbox"
                      id="extra3"
                      onchange="calculoTarifa()"
                    />&nbsp;Base de datos&nbsp;&nbsp;&nbsp;</span
                  >
                </td>
              </tr>
              <tr>
                <td>Presupuesto:</td>
                <td><input type="text" id="total" disabled /></td>
              </tr>
            </table>
          </form>
        </section>
        <!--ACEPTAR CONDICIONES Y POLITICA DE PRIVACIDAD-->
        <div id="last">
          <form id="conditions">
            <p id="politicasdeprivacidad">
              He leido la pol&iacute;tica de privacidad &nbsp;
              <input
                type="checkbox"
                name="acceptedConditions"
                id="acceptedConditions"
              />
            </p>
            <br />

            <input
              type="reset"
              name="VaciarFormulario"
              id="reset"
              onclick="restablecer()"
            />
            <input
              type="button"
              name="enviar"
              id="submit"
              value="Enviar"
              onclick="validar()"
            />
          </form>
        </div>
      </div>
    </section>

    <!--PIE DE PÁGINA-->
    <div class="clearfix"></div>
    <footer id="footer">
      <div class="wrap">
        <div>
          <h5>PAX | DIGITAL MINDS</h5>
          <!--DIRECCION-->
          Avenida de Palmela 19 - 03730 J&aacute;vea (Alicante)<br />
          <!--AVISO LEGAL-->
          <p>
            <a href="#" class="advice">Política de cookies</a>&nbsp; | &nbsp;
            <a href="#" class="advice">Política de privacidad</a>&nbsp; | &nbsp;
            <a href="views/avisolegal.html" class="advice">Aviso Legal</a>
          </p>
          <!--RRSS-->
          <p>
            <a
              href="#"
              class="rrss"
              onmouseover="fbhover()"
              onmouseout="fbblack()"
              ><img id="fb" alt="Facebook" src="../images/rrss/facebook.png"
            /></a>
            &nbsp;
            <a
              href="#"
              class="rrss"
              onmouseover="ighover()"
              onmouseout="igblack()"
              ><img id="ig" alt="Instagram" src="../images/rrss/instagram.png"
            /></a>
            &nbsp;
            <a
              href="#"
              class="rrss"
              onmouseover="twhover()"
              onmouseout="twblack()"
              ><img id="tw" alt="twitter" src="../images/rrss/twitter.png"
            /></a>
          </p>
          &copy; PAX | DIGITAL MINDS 2022
        </div>
      </div>
    </footer>
  </body>
</html>
