/*TARJETAS*/
.card {
  float: left;
  width: 204px;
  height: 304px;
  border: 1px solid #2b0548;
  box-shadow: 1px 1px 2px #582a7a;
  background: whitesmoke;
  overflow: hidden;
  margin: 22px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 300ms;
}

.card:hover {
  transform: translateY(-20px);
  background-color: #1b022f;
}

.card:last-child {
  margin-right: 0px;
}

.card .icon {
  display: block;
  width: 100%;
  height: 130px;
  font-size: 50px;
  line-height: 110px;
  text-align: center;
  margin: 0px auto;
}

.card:hover .icon {
  color: #582a7a;
  animation: fromAbove 300ms linear;
}

@keyframes fromAbove {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}

.card .category {
  width: 100%;
  height: 50px;
  font-family: "TrebuchetMS";
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #2b0548;
}

.card:hover .category {
  color: whitesmoke;
  animation: fromLeft 300ms linear;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.card .description {
  font-family: "TrebuchetMS";
  text-align: center;
  padding: 6px;
  color: #401562;
}
.card:hover .description {
  color: whitesmoke;
  animation: fromRight 300ms linear;
}

@keyframes fromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

#moreNews {
  float: right;
  width: 45%;
}

.aside-box {
  display: block;
  margin: 10px;
  width: 85%;
  min-height: 800px;
  font-family: "TrebuchetMS";
  height: 750px;
  margin-top: 10px;
  padding: 24px;
  background: whitesmoke;
  text-decoration: none;
  overflow: auto;
  border: 1px solid #0e0018;
  box-shadow: 0px 0px 1px #582a7a, 0px 3px 7px #582a7a, 0px 1px whitesmoke inset,
    0px -3px 2px #582a7a inset;
}

aside h3 {
  display: block;
  width: 93%;
  height: 45px;
  line-height: 48px;
  background: url("../images/css/bgr/pxpurple.png"), whitesmoke;
  box-shadow: 0px 1px 0px #582a7a, 1px 2px 0px #582a7a, 2px 3px 0px #582a7a,
    3px 4px 0px #582a7a;
  font-size: 28px;
  font-family: "BebasNeue";
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.aside-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.aside-box::-webkit-scrollbar-thumb {
  background-color: #401562;
}

.aside-box::-webkit-scrollbar {
  width: 8px;
}

/*ARTÍCULOS*/

#articles {
  float: left;
  width: 100%;
  height: 100%;
}

#latestNews {
  float: left;
  width: 50%;
}

#articles h2 {
  display: block;
  width: 97%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-family: "BebasNeue";
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 2px;
  color: #0e0018;
  background: url(../images/css/bgr/pxpurple.png), whitesmoke;
  box-shadow: 0px 1px 0px #582a7a, 1px 2px 0px #582a7a, 2px 3px 0px #582a7a,
    3px 4px 0px #582a7a;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#articles article {
  width: 100%;
  height: auto;
  border: 1px solid #582a7a;
  margin: 10px;
  padding: 20px;
  font-family: "TrebuchetMS";
  background: whitesmoke;
  color: #0e0018;
  box-shadow: 1px 1px 2px #582a7a;
}

#articles article h4 {
  display: block;
  font-size: 23px;
  margin: 3px;
  margin-top: 30px;
}

#articles article h4 a {
  text-decoration: underline;
  color: #1b022f;
}

#articles .data {
  float: right;
  background: #0e0018;
  color: whitesmoke;
  height: 30px;
  line-height: 30px;
  margin: -20px;
  padding: 4px;
  font-size: 13px;
  border-radius: 0px 0px 0px 5px;
}

#articles .data span {
  margin: 6px;
}

#articles article p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.boton_primario {
  font-family: "BebasNeue";
  font-size: 16px;
  padding: 12px 32px 12px 32px;
  background: #582a7a;
  color: whitesmoke;
  border: 1px solid #582a7a;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 4px;
}
.boton_primario:hover {
  box-shadow: inset 10.5em 0 0 0 #0e0018;
}
